.hero {
  background-color: var(--bg-color);
  height: 100vh;
}

.hero h2 {
  color: var(--blue-color);
}

.info {
  padding-left: 0 !important;
  padding-top: 130px;
}

.title {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.4;
}

.lead {
  color: var(--white-color);
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
}

.control,
.text {
  border: none !important;
  background-color: #e9ecef;
}

.search {
  color: var(--red-color);
  font-size: 26px;
}

.color {
  font-size: 26px;
}

@media (min-width: 992px) {
  .image {
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 100;
    margin-top: 50px !important;
  }
}
