.right {
  position: fixed;
  top: 20%;
  right: 6%;
}

.singleJob {
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .singleJob {
    padding: 0 20px;
  }
  .singleJob h3 {
    font-size: 24px !important;
  }

  .singleJob h4 {
    font-size: 20px !important;
  }
  .singleJob h5 {
    font-size: 18px !important;
    margin-top: 20px !important;
  }
}

/* Hide button on mobile & Tablet */
@media (min-width: 992px) {
  .rightMobile {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .right {
    display: none !important;
  }

  .rightMobile {
    position: sticky !important;
    bottom: 0% !important;
  }
}
